# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf

[*.{py,ipynb}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
indent_size = 4

# C++ Files
[*.{cpp,h,in}]
curly_bracket_next_line = true
indent_brace_style = Allman

# JSON files
[*.{json}]
indent_size = 2

[*.{js,ts,jsx,tsx}]
indent_size = 2
quote_type = single

# Shell scripts
[*.sh]
end_of_line = lf

[*.{cmd,bat}]
end_of_line = crlf

# Config files
[*.{yml,yaml,toml}]
indent_size = 4

# HTML/CSS files
[*.{html,htm,css,scss,sass,less}]
indent_size = 2
